<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <%= stylesheet_link_tag 'system_metrics/reset', 
      'system_metrics/typography',
      :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'system_metrics/print', :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'system_metrics/ie', :media => 'screen, projection' %>
    <![endif]-->
    <%= stylesheet_link_tag 'system_metrics/app', :media => 'screen, projection' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container">
      <div id="hd">
        <h1>System Metrics</h1>
        <%= render "menu" %>
      </div>
      <%= render "title_bar" %>
      <div id="bd">
        <%= yield %>
      </div>
      <div id="ft">
        <span>Developed by <a href="http://www.nearinfinity.com">Near Infinity</a></span>
      </div>
    </div>
  </body>
</html>
